﻿@{
    ViewBag.Title = "Centro de Conciliación";
}

<div class="jumbotron">
    <h1>Centro de Conciliación</h1>
    <p class="lead">La conciliación es un mecanismo de solución de conflictos a través del cual, dos o más personas gestionan por sí mismas la solución de sus diferencias, con la ayuda de un tercero neutral y calificado, denominado conciliador.</p>
    <p><a href="http://www.udes.edu.co/programas-profesionales/facultad-derecho-y-ciencias-politicas/derecho/277-centro-de-consiliacion.html" class="btn btn-primary btn-lg">Leer más &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Marco legal</h2>
        <p>
            <ul>
                <li>Ley 640 de 2001.</li>
                <li>Ley 446 de 1998.</li>
                <li>Ley 1285 de 2009.</li>
                <li>Decreto 1716 de 2009.</li>
                <li>Decreto 1829 de 2013.</li>
                <li>NTC - 5906.</li>
            </ul> 
        </p>       
        
        <p><a class="btn btn-default" href="http://conciliacion.gov.co/portal/conciliacion/conciliacion-definicion">Leer más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Caracteristicas</h2>
        <p>La conciliación como acto de administración de justicia es: Solemne, Onerosa y Conmutativa.</p>
        <p><a class="btn btn-default" href="https://conciliacion.gov.co/portal/-Conciliaci%C3%B3n/-Qu%C3%A9-es-Conciliaci%C3%B3n/Caracter%C3%ADsticas-de-Conciliaci%C3%B3n">Leer más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ventajas</h2>
        <p>Libertad de acceso, satisfacción, efectividad, ahorro de dinero, control del procedimiento y sus resultados, mejora las relaciones entre las partes y la confidencialidad.</p>
        <p><a class="btn btn-default" href="https://conciliacion.gov.co/portal/-Conciliaci%C3%B3n/-Qu%C3%A9-es-Conciliaci%C3%B3n/Ventajas-de-Conciliaci%C3%B3n">Leer más &raquo;</a></p>
    </div>
</div>