﻿@model IEnumerable<CentroConciliacion.Models.Departament>

@{
    ViewBag.Title = "Departament";
}

<h2>Departamentos</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Name)*@
            Nombre
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DepartamentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DepartamentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DepartamentId })
        </td>
    </tr>
}

</table>
